<form name="containt-action" class="m-4" method="POST" action="/cources/handle-form-action">
    <div class="h1">Khóa học của tôi
      <a href="/user/stored/trash" class="float-end fs-5">Thùng rác({{deletedCount}})</a>
    </div>
    <div class="d-flex align-self-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check-box-all">
        <label class="form-check-label " for="check-box-all">
          Chọn tất cả
        </label>
      </div>
      <select class="form-select form-select-sm w-25 ms-3 me-3" aria-label=".form-select-sm example" name="action" required>
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary disabled btn-action" type="submit">Áp dụng</button>
    </div>
  <table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Dicripsions</th>
      <th scope="col">Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {{#each Cources}}
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courceId[]">
        </div>
      </td>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.decripsions}}</td>
      <td><img src="{{this.image}}" width="100px" height="70px" alt=""></td>
      <td>
          <a href="/cources/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#delete-cource" data-id="{{this._id}}">Xóa</a>
      </td>
    </tr>
    {{else}}
      <div class="text-center h2 text-grey mt-5 mb-5">Bạn chưa có khóa học nào.
              <a href="/cources/create">Đăng khóa học</a>
      </div>
    {{/each}}
    
  </tbody>
</table>
<div class="modal" id="delete-cource" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học<br>
        
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-cource" >Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
</form>
<form method="POST" name="form-delete-cource"></form>
<script>
    var courceID;
    var btnDeleteCource = document.getElementById('btn-delete-cource');
    var deletecource = document.getElementById('delete-cource');
    var formDeleteCource = document.forms['form-delete-cource'];
    var checkBoxAll = $('#check-box-all');
    var courceItemCheckBox = $('input[name="courceId[]"]')
    var btnAction = $('.btn-action');
    deletecource.addEventListener('show.bs.modal', function (event) {
        
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        courceID = button.getAttribute('data-id');
        
    })
    btnDeleteCource.onclick = function(){
        formDeleteCource.action = '/cources/' + courceID + '?_method=DELETE';
        formDeleteCource.submit();
    }
    checkBoxAll.change(function(){
      courceItemCheckBox.prop('checked',$(this).prop('checked'));
      renderCheckBox();
    });
    
    courceItemCheckBox.change(function(){
      var isCheckedAll = courceItemCheckBox.length === $('input[name="courceId[]"]:checked').length;
      checkBoxAll.prop('checked',isCheckedAll);
      renderCheckBox();
    });
    
    renderCheckBox = function(){
      var countChecked = $('input[name="courceId[]"]:checked').length;
      if(!countChecked ){
        btnAction.addClass('disabled');
      }else
        btnAction.removeClass('disabled');
    }
    
</script>