<div class="m-4">
    <a href="/user/stored/cource">Quay lại</a>
    <div class="h1">Khóa học đã xóa({{deletedCount}})</div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Dicripsions</th>
      <th scope="col">Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {{#each Cources}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.decripsions}}</td>
      <td><img src="{{this.image}}" width="100px" height="70px" alt=""></td>
      <td>
          <a href="" class="btn btn-link btn-restored" data-id="{{this._id}}">Khôi phục</a>
          <a href="" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#delete-cource" data-id="{{this._id}}">Xóa</a>
      </td>
    </tr>
    {{else}}
      <div class="text-center h2 text-grey">Bạn chưa có khóa học vào trong thùng rác. <a href="/user/stored/cource">Danh sách khóa học</a></div>
    {{/each}}
    
  </tbody>
</table>
<div class="modal" id="delete-cource" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học<br>
        
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fs-5">Bạn có chắc chắn muốn xóa khóa học này?</p>
        <p>Lưu ý: Khi bạn xóa khóa học này sẽ không thể khôi phục được.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-cource" >Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
</div>
<form method="POST" name="form-delete-cource"></form>
<form method="POST" name="form-restore-cource"></form>
<script>
    var courceID;
    var btnDeleteCource = document.getElementById('btn-delete-cource');
    var deletecource = document.getElementById('delete-cource');
    var formDeleteCource = document.forms['form-delete-cource'];
    var formRestoreCource = document.forms['form-restore-cource'];
    var btnRestored = $('.btn-restored');
    deletecource.addEventListener('show.bs.modal', function (event) {
        
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        courceID = button.getAttribute('data-id');
        
    })
    btnDeleteCource.onclick = function(){
        formDeleteCource.action = '/user/stored/trash/' + courceID + '?_method=DELETE';
        formDeleteCource.submit();
    }
    btnRestored.click(function(event){
        event.preventDefault();

        formRestoreCource.action ='/cources/' + $(this).data('id') + '/restore?_method=PATCH';
        formRestoreCource.submit();
    });
</script>